.roundMessage {
	animation: roundMessage 5s;
	animation-fill-mode: forwards;
}
.hidden {
    display: none;
}

@keyframes roundMessage {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

table.pointsTable {
	th, td {
		padding: 5px 5px;
	}
}